.img_teams {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 44px;
    border-right: 5px solid #34b1db;
}
.div_team {
    text-align: center;
    background: #1f1e1e;
    height: 300px;
    border-right: 2px solid #34b1db;
    border-left: 2px solid #34b1db;
}
.h4_team_about {
    color: lightblue;
    font-weight: bold;
    padding-top: 30px;
}
.span_team_about {
    color: silver;
    font-size: 14px;
}
.fb_about{
    color:#34b1db;
    font-size: 24px;
    padding: 5px;
    margin-top: 7px;
}

.fb_about:hover{
    text-decoration: none;
    color: silver;
}