.count {
color:lightblue;
font-size: 50px;
}
.div_counter{
    text-align: center;
}
.pluce_span {
    color:lightblue;
    font-size: 50px;
}
.title_counter {
    color:silver;
}
.big_div_counter {

    padding: 66px 0px;
}