.logo_nav {
    width: 127px;
    height: 62px;
    }
.opacity_nav{
    background: rgba(0, 0, 0, 0.5);
    
    z-index: 11111;
}
.nav-link {
    color: #f1f1f1 !important; 
    font-weight: bold !important;
    
    font-family: inherit !important; 
}

.nav-link:hover {
    color:#3ac4f2 !important;
    border-bottom: 2px solid !important;
    
    
}

.navbar-nav {
    height: 50px;
    margin-top: 17px;
}
.navbar-text {
    height: 50px;
}
.nav-item {
    padding: 0px 25px !important;
}

